@{
    Layout = null;

    var artpieceTitle = " St Basils Cathedral";
    var medium = "pencil on paper";
    var description = "<p>Drawing of St Basils cathedral in Moscow.</p>";
    var pencils = new string[]
    {
        "2B",
        "4B",
        "2H"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@artpieceTitle</h1>
        <h2>Medium : @medium</h2>
        <div>@Html.Raw(description)</div>
        @if(pencils.Length > 0)
        {
            <h5>pencils used : </h5>
            <div>
                <ul>
                    @foreach (var pencil in pencils)
                    {
                        <li>@pencil</li>
                    }
                </ul>
            </div>
        }

    </div>
</body>
</html>
