@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Artwork Detail";


}

<h1>@ViewBag.ArtpieceTitle</h1>
<h2>Medium : @ViewBag.Medium</h2>

<h5> Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>
@if(ViewBag.Pencils.Length > 0)
{
    <h5>pencils used : </h5>
    <div>
        <ul>
            @foreach (var pencil in ViewBag.Pencils)
            {
                <li>@pencil</li>
            }
        </ul>
    </div>
}
