@model ArtworkGallery.Models.Artwork[]

@{
    ViewBag.Title = "Artworks";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var artWork in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(artWork.DisplayText, "Detail", 
                new { id = artWork.Id })</h4>
            <a href="@Url.Action("Detail", new { id = artWork.Id })" >
                <img src="~/Images/@artWork.CoverImageFileName"
                     alt="@artWork.DisplayText"
                     class="img-responsive" />
            </a>

        </div>
    }
</div>